/** Custom Properties **/
:root {
    --vanilla-ice: #f4dbd6;
    --turbo: #f4e407;
    --light-wisteria: #ca7dcd;
    --ming: #2f6179;
    --morado: #ac64d4;
    --moradoOscuro: #8235ac;
    --rosado: #f44c84;
    --deep-blush: #e45ca4;
    --mauvelous: #ee8eb0;
    --froly: #f36794;



    --blanco: #FFFFFF;
    --oscuro: #212121;
    --gris: #E5E5E5;

    --fuenteParrafo: 'Krub', sans-serif;
    --fuenteHeading: 'Nunito', sans-serif;

}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: var(--fuenteParrafo);
    background-color: var(--blanco);
}

/** Globales **/
h1,
h2,
h3 {
    font-family: var(--fuenteHeading);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

.navbar {
    padding: 0.2rem;
    margin-left: -1rem;
    position: absolute;
}

.navbar-collapse {
    justify-content: space-between;
}

.container-fluid {
    background-color: var(--blanco);

}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;

    }
}

@media (max-width: 991px) {
    .sidebar {
        background-color: var(--blanco);
    }
}


.nav-item {
    padding: 0.4rem;
    font-family: var(--fuenteHeading);
    margin: auto;

}

.nav-link:hover {
    color: var(--morado);
}

.banner {
    width: 100%;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-content: center;
}

.btn-close {
    margin-left: 12rem;
    padding-right: 30rem;
}

@media (max-width:600px) {
<<<<<<< HEAD
    .btn-close {
        margin-left: 4rem;
        
=======
    .btn-salir {
        margin-left: 12rem;

>>>>>>> b60101f2c30332d7804db2bb63b1d85afd3f495a
    }
}

.logo_menupequeño {
    height: 80px;
    width: 190px;
    padding-left: 5.7rem;
    padding-top: 1rem;
}

.sobremi__titulo {
    color: var(--rosado);
    font-size: 4rem;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

@media (max-width:600px) {
    .descripcion__obstetra {
        font-size: 2.8rem;
    }
}

.descripcion__obstetra {
    font-family: var(--fuenteParrafo);
    font-size: 2rem;
}

@media (max-width:600px) {
    .descripcion__obstetra {
        font-size: 1.55rem;
    }
}

.container-info-obstetra {
    margin-left: 9rem;
    margin-right: 9rem;
    padding: 2rem;
    padding-bottom: 7rem;
    border-radius: 10px;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, .10);
}

@media (max-width:600px) {
    .container-info-obstetra {
        margin-left: 2rem;
        margin-right: 2rem;
        padding-bottom: 2rem;
    }
}

.movimiento_nombre_profesion {
    margin-left: 1rem;
}

.Nombre__profesion {
    font-size: 3.5rem;
    margin-left: 1rem;
    font-family: var(--fuenteHeading);
    margin-top: 9rem;
}

@media (max-width:600px) {
    .Nombre__profesion {
        margin-left: 0;
        margin-top: 3rem;
        font-size: 2.5rem;
    }
}

.profesion {
    font-size: 2rem;
    font-family: var(--fuenteHeading);
    color: var(--moradoOscuro)
}

@media (max-width:600px) {
    .profesion {
        font-size: 1.55rem;
    }
}


.foto_obstetra {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 330px;
    height: 330px;
    border-radius: 50%;
    margin-top: 4.5rem;
    border: 0.8rem solid var(--rosado);
}

.foto_obstetra>img {
    max-width: 100%;
}

@media (max-width:600px) {
    .foto_obstetra {
        margin-bottom: -4.5rem;
        width: 220px;
        height: 250px;
    }
}


.Especialidad__diplomado {
    font-family: var(--fuenteParrafo);
    font-size: 1.7rem;
    padding: 3rem;
    padding-bottom: 9rem;
    margin-top: 6.2rem;
}

@media (max-width:600px) {
    .Especialidad__diplomado {
        margin-bottom: -8rem;
        font-size: 1.5rem;
    }
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/** Utilidades **/
.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.centrar-texto {
    text-align: center;
}

.alinear-centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

/** Ecografia - Caña **/
.ecografia-titulo {
    color: var(--rosado);
    font-size: 4rem;
    font-weight: 1000;
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1140px) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

.ecografia {
    margin: 2rem;
    border-radius: 1.5rem;
    overflow: hidden;
    background-color: #ef6493;
    transition: all .4s ease;
}

.ecografia__imagen {
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.imagen-uno {
    background-image: url(../img/imagenObstetrica.jpg);
}

.imagen-dos {
    background-image: url(../img/imagenTransvaginal.jpg);
}

.imagen-tres {
    background-image: url(../img/imagenPrenatal.jpg);
}

@media (min-width: 768px) {
    .ecografia:hover {
        box-shadow: 5px 5px 20px rgba(0, 0, 0, .4);
        transform: translateY(-5%);
    }
}

.ecografia img {
    height: 21rem;
}

.ecografia .ecografia__descripcion {
    padding: 1.5rem;
    text-align: center;
}

.ecografia .ecografia__descripcion p {
    line-height: 1.6;
    color: var(--gris);
}

.ecografia .ecografia__descripcion h3 {
    margin: .5rem 0 1.5rem 0;
    color: var(--blanco);
    font-size: 2.5rem;
    font-weight: 700;
}

/** Ecografia boton - Caña **/
.alinear-centro .ecografia__boton {
    display: inline-block;
    height: 6rem;
    width: 6rem;
    margin: 0 .5rem;
    overflow: hidden;
    background-color: var(--morado);
    border-radius: 5rem;
    cursor: pointer;
    transition: all .3s ease-out;
    margin-bottom: 2rem;
}

.alinear-centro .ecografia__boton:hover {
    width: 20rem;
}

.alinear-centro .ecografia__boton .ecografia__icono {
    display: inline-block;
    height: 6rem;
    width: 6rem;
    border-radius: 5rem;
    box-sizing: border-box;
    line-height: 6rem;
    text-align: center;
}

.alinear-centro .ecografia__boton i {
    font-size: 2.5rem;
    line-height: 6rem;
    color: var(--blanco);
}

.alinear-centro .ecografia__boton span {
    font-size: 2rem;
    font-weight: 500;
    line-height: 6rem;
    margin-left: 1rem;
    color: var(--blanco);
}

/** Magaly **/

.contactanos__titulo {
    color: var(--rosado);
    font-size: 4rem;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}

.contactanos__info {
    display: block;
    padding: 3.5rem 0 0 3rem;
}

.contactanos__info__tablet {
    display: none;
}

.contactanos__info__celular {
    display: none;
}

.contactanos__items {
    padding-bottom: 0.8rem;
}

.contactanos__items>strong {
    margin-bottom: 5rem;
}

.contactanos__items>p {
    margin-bottom: 0.1rem;
}

.contactanos__mapa {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.footer__pequeño {
    display: none;
}

.footer__mediano {
    display: none;
}

.footer__grande {
    margin-top: -6rem;
    background-color: #E95796;
    position: relative;
    padding-top: 3rem;
    padding-bottom: 2rem;
    width: 100%;
}

.footer__logo__grande>img {
    height: 8rem;
    margin-bottom: 2rem;
    filter: brightness(200%);
}

.footer__indivi {
    display: flex;
    align-items: center;
}

.footer__indivi,
.footer__servicios__items>a,
.footer__redes>a {
    color: var(--blanco);
}

.footer__redes>a {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    padding-left: 1rem;
}

.footer__links,
.footer__servicios,
.footer__servicios__items,
.footer__items,
.footer__lundom {
    display: flex;
    flex-direction: column;
}

.footer__links {
    margin-bottom: -1.2rem;
}

.footer__links__grande {
    margin-right: 4rem;
}

.footer__items {
    align-items: center;
    width: 100%;
}

.footer__servicios__items {
    align-items: center;
}

.footer__servicios__items>a {
    padding: 0.5rem;
}

.footer__indivi>h3 {
    margin-bottom: 1.3rem;
}

.footer__info {
    width: 100%;
    margin-bottom: 2rem;
}

.footer__icotit {
    display: flex;
    flex-direction: row;
}

.footer__icotit>p {
    margin-left: 0.7rem;
    margin-bottom: 0.4rem;
}

.footer__lundom {
    margin-bottom: 0.2rem;
}

.olas {
    display: inline-block;
    position: relative;
    bottom: 6rem;
    width: 100%;
    padding-bottom: 18%;
    vertical-align: middle;
    overflow: hidden;
    left: 0;
}

.olas__item {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

@media screen and (max-width: 990px) {
    .contactanos__titulo {
        height: 6rem;
        font-size: 3.8rem;
    }

    .contactanos__info {
        display: none;
    }

    .contactanos__info__tablet {
        display: block;
    }

    .contactanos__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        font-size: 1.55rem;
    }

    .contactanos__items>strong {
        margin-bottom: 0.7rem;
    }

    .contactanos__info {
        padding: 0 0 0 0;
    }

    .contactanos__mapa {
        padding-top: 2rem;
        width: 620px;
        height: 300px;
        margin: auto;
    }

    .footer__logo__mediano>img {
        height: 7rem;
        margin-top: 1.7rem;
        margin-bottom: 1rem;
        filter: brightness(200%);
    }

    .footer__redes>a {
        font-size: 2.2rem;
        padding-right: 1.3rem;
        padding-left: 1rem;
    }

    .footer__items>p {
        text-align: center;
    }

    .footer__indivi>h3 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;
    }

    .footer__servicios {
        padding-right: 4.5rem;
    }

    .footer__links {
        padding-right: 4rem;
    }

    .footer__links__info {
        padding-right: 4rem;
    }

    .olas {
        top: 2.3rem;
    }

    .footer__grande {
        display: none;
    }

    .footer__mediano {
        display: block;
        margin-top: 2.3rem;
        background-color: #E95796;
        position: relative;
        padding-bottom: 2rem;
        width: 100%;
    }
}

@media screen and (max-width: 780px) {
    .olas {
        top: 3rem;
    }

    .footer__grande {
        display: none;
    }

    .footer__mediano {
        display: block;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 630px) {
    .olas {
        top: 4rem;
    }

    .footer__grande {
        display: none;
    }

    .footer__mediano {
        display: block;
        margin-top: 4rem;
    }
}

@media screen and (max-width: 630px) {
    .olas {
        top: 5rem;
    }

    .footer__grande {
        display: none;
    }

    .footer__mediano {
        display: block;
        margin-top: 5rem;
    }
}

@media screen and (max-width: 460px) {
    .contactanos__titulo {
        height: 5rem;
        font-size: 3.6rem;
    }

    .contactanos__items {
        font-size: 1.6rem;
    }

    .contactanos__mapa {
        padding-top: 2rem;
        width: 360px;
        height: 150px;
        margin: auto;
    }

    .contactanos__info__tablet {
        display: none;
    }

    .contactanos__info__celular {
        display: block;
    }


    .olas {
        top: 21rem;
    }

    .footer__grande {
        display: none;
    }

    .footer__mediano {
        display: none;
    }

    .footer__logo__pequeño>img {
        height: 6rem;
        margin-top: -1rem;
        margin-bottom: 1rem;
        filter: brightness(200%);
    }

    .footer__pequeño {
        display: block;
        margin-top: 21rem;
        background-color: #E95796;
        position: relative;
        padding-top: 3rem;
        padding-bottom: 1rem;
        width: 100%;
        font-size: 1.6rem;
    }

    .footer__indivi>h3 {
        margin-top: 2rem;
        margin-bottom: 1.5rem;
    }

    .footer__links {
        padding-right: 0;
    }

    .footer__servicios {
        padding-right: 0;
    }
}